<div class="register-page">
  <div class="form-container">

    <h2>Crea tu cuenta</h2>
    <p>Únase a DebtGo hoy</p>

    <form (ngSubmit)="register()">

      <!-- Email -->
      <input type="email" placeholder="Gmail" [(ngModel)]="email" name="email" required
        (ngModelChange)="validateEmail()" />
      <p *ngIf="emailError" class="error">{{ emailError }}</p>

      <!-- Password -->
      <div class="password-container">
        <input [type]="showPassword ? 'text' : 'password'" placeholder="Contraseña" [(ngModel)]="password"
          name="password" required (ngModelChange)="validatePassword()" />

        <span class="toggle" (click)="showPassword = !showPassword">
          <!-- Iconos SVG -->
          <svg *ngIf="!showPassword" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="none"
            stroke="currentColor" stroke-width="2">
            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
            <circle cx="12" cy="12" r="3" />
          </svg>

          <svg *ngIf="showPassword" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="none"
            stroke="currentColor" stroke-width="2">
            <path d="M17.94 17.94A10.94 10.94 0 0 1 12 20c-7 0-11-8-11-8a21.82 21.82 0 0 1 5.06-6.94" />
            <path d="M1 1l22 22" />
          </svg>
        </span>
      </div>
      <p *ngIf="passwordError" class="error">{{ passwordError }}</p>

      <!-- Confirm Password -->
      <input type="password" placeholder="Confirmar Contraseña" [(ngModel)]="confirmPassword" name="confirmPassword"
        required (ngModelChange)="validateConfirmPassword()" />
      <p *ngIf="confirmPasswordError" class="error">{{ confirmPasswordError }}</p>

      <!-- Role -->
      <select [(ngModel)]="role" name="role" required>
        <option value="ENTREPRENEUR">Emprendedor</option>
        <option value="CONSULTANT">Consultor</option>
      </select>

      <!-- Button -->
      <button type="submit" [disabled]="!isFormValid()">
        Registrar
      </button>
    </form>

    <p class="switch">
      ¿Ya tienes una cuenta? <a routerLink="/login">Iniciar Sesión</a>
    </p>

    <p *ngIf="message" class="message">{{ message }}</p>

  </div>
</div>